Dark Sky API: 4ff1d8e73db78778122dfacfabf261f2

In [12]:
from darksky import forecast
from datetime import datetime as dt
from datetime import date, timedelta
import pandas as pd

Using Time Machine Call, we can get the observed weather conditions for a date in the past or future.

In [13]:
key = "4ff1d8e73db78778122dfacfabf261f2"
Fremont = key, 37.542, -121.991

In [14]:
t = dt(2018, 1, 1, 12).isoformat()
fre = forecast(*Fremont, t)
mydata = pd.DataFrame(fre['hourly']['data'])
mydata['LAT'] = 37.542
mydata['LON'] = -121.991
mydata['YEAR'] = 2018
mydata['MONTH'] = 1
mydata['DAY'] = 1
mydata['HOUR'] = [i for i in range(24)]

In [15]:
for i in range(2, 14):  
    t = dt(2018, 1, i, 12).isoformat()
    fre = forecast(*Fremont, t)
    tempdata = pd.DataFrame(fre['hourly']['data'])
    tempdata['LAT'] = 37.542
    tempdata['LON'] = -121.991
    tempdata['YEAR'] = 2018
    tempdata['MONTH'] = 1
    tempdata['DAY'] = i
    tempdata['HOUR'] = [i for i in range(24)]
    mydata = mydata.append(tempdata)
    
Jan_rain = mydata

Save it as csv

In [16]:
Jan_rain.to_csv("Jan_rain.csv", sep=',')

In [17]:
Jan_rain.head()

,DAY,HOUR,LAT,LON,MONTH,YEAR,apparentTemperature,cloudCover,dewPoint,humidity,...,precipIntensity,precipProbability,precipType,pressure,summary,temperature,time,visibility,windBearing,windSpeed
0,1,0,37.542,-121.991,1,2018,50.19,0.00,45.83,0.85,...,0.0,0.0,NaN,1022.88,Clear,50.19,1514793600,6.58,85,1.74
1,1,1,37.542,-121.991,1,2018,50.01,0.24,45.78,0.85,...,0.0,0.0,NaN,1022.79,Clear,50.01,1514797200,6.60,96,2.15
2,1,2,37.542,-121.991,1,2018,48.87,0.14,45.31,0.87,...,0.0,0.0,NaN,1022.79,Clear,48.87,1514800800,6.05,111,2.31
3,1,3,37.542,-121.991,1,2018,47.56,0.05,44.80,0.90,...,0.0,0.0,NaN,1022.89,Clear,47.56,1514804400,6.00,246,1.25
4,1,4,37.542,-121.991,1,2018,46.36,0.16,44.25,0.92,...,0.0,0.0,NaN,1023.05,Clear,46.36,1514808000,4.55,134,0.82

In [18]:
t = dt(2018, 2, 21, 12).isoformat()
fre = forecast(*Fremont, t)
mydata = pd.DataFrame(fre['hourly']['data'])
mydata['LAT'] = 37.542
mydata['LON'] = -121.991
mydata['YEAR'] = 2018
mydata['MONTH'] = 2
mydata['DAY'] = 21
mydata['HOUR'] = [i for i in range(24)]

In [19]:
for i in range(22, 29):  
    t = dt(2018, 2, i, 12).isoformat()
    fre = forecast(*Fremont, t)
    tempdata = pd.DataFrame(fre['hourly']['data'])
    tempdata['LAT'] = 37.542
    tempdata['LON'] = -121.991
    tempdata['YEAR'] = 2018
    tempdata['MONTH'] = 2
    tempdata['DAY'] = i
    tempdata['HOUR'] = [i for i in range(24)]
    mydata = mydata.append(tempdata)
    
Feb_rain1 = mydata

In [20]:
t = dt(2018, 3, 1, 12).isoformat()
fre = forecast(*Fremont, t)
mydata = pd.DataFrame(fre['hourly']['data'])
mydata['LAT'] = 37.542
mydata['LON'] = -121.991
mydata['YEAR'] = 2018
mydata['MONTH'] = 3
mydata['DAY'] = 1
mydata['HOUR'] = [i for i in range(24)]

In [21]:
for i in range(2, 9):  
    t = dt(2018, 3, i, 12).isoformat()
    fre = forecast(*Fremont, t)
    tempdata = pd.DataFrame(fre['hourly']['data'])
    tempdata['LAT'] = 37.542
    tempdata['LON'] = -121.991
    tempdata['YEAR'] = 2018
    tempdata['MONTH'] = 3
    tempdata['DAY'] = i
    tempdata['HOUR'] = [i for i in range(24)]
    mydata = mydata.append(tempdata)

Feb_rain2 = mydata

In [22]:
    
Feb_rain = pd.concat([Feb_rain1, Feb_rain2])
Feb_rain.to_csv("Feb_rain.csv", sep=',')
Feb_rain.head()

,DAY,HOUR,LAT,LON,MONTH,YEAR,apparentTemperature,cloudCover,dewPoint,humidity,...,precipIntensity,precipProbability,precipType,pressure,summary,temperature,time,visibility,windBearing,windSpeed
0,21,0,37.542,-121.991,2,2018,44.11,0.18,33.55,0.66,...,0.0,0.0,NaN,1022.60,Clear,44.11,1519200000,10.0,181,1.84
1,21,1,37.542,-121.991,2,2018,42.74,0.31,33.62,0.70,...,0.0,0.0,NaN,1022.33,Partly Cloudy,42.74,1519203600,10.0,175,0.92
2,21,2,37.542,-121.991,2,2018,41.61,0.20,33.08,0.71,...,0.0,0.0,NaN,1022.26,Clear,41.61,1519207200,10.0,121,2.77
3,21,3,37.542,-121.991,2,2018,36.77,0.05,32.84,0.75,...,0.0,0.0,NaN,1021.51,Clear,40.13,1519210800,10.0,122,4.82
4,21,4,37.542,-121.991,2,2018,36.56,0.43,32.80,0.75,...,0.0,0.0,NaN,1021.94,Partly Cloudy,39.93,1519214400,10.0,101,4.79

In [23]:

t = dt(2018, 3, 12, 12).isoformat()
fre = forecast(*Fremont, t)
mydata = pd.DataFrame(fre['hourly']['data'])
mydata['LAT'] = 37.542
mydata['LON'] = -121.991
mydata['YEAR'] = 2018
mydata['MONTH'] = 3
mydata['DAY'] = 12
mydata['HOUR'] = [i for i in range(24)]
    
for i in range(13, 27):  
    t = dt(2018, 3, i, 12).isoformat()
    fre = forecast(*Fremont, t)
    tempdata = pd.DataFrame(fre['hourly']['data'])
    tempdata['LAT'] = 37.542
    tempdata['LON'] = -121.991
    tempdata['YEAR'] = 2018
    tempdata['MONTH'] = 3
    tempdata['DAY'] = i
    tempdata['HOUR'] = [i for i in range(24)]
    mydata = mydata.append(tempdata)

Mar_rain = mydata    
Mar_rain.to_csv("Mar_rain.csv", sep=',')
Mar_rain.head()

,DAY,HOUR,LAT,LON,MONTH,YEAR,apparentTemperature,cloudCover,dewPoint,humidity,...,precipIntensity,precipProbability,precipType,pressure,summary,temperature,time,visibility,windBearing,windSpeed
0,12,0,37.542,-121.991,3,2018,55.31,0.23,48.53,0.78,...,0.0,0.0,NaN,1019.30,Clear,55.31,1520838000,10.00,325,2.08
1,12,1,37.542,-121.991,3,2018,54.34,0.13,48.49,0.81,...,0.0,0.0,NaN,1019.07,Clear,54.34,1520841600,9.90,296,1.60
2,12,2,37.542,-121.991,3,2018,53.84,0.16,48.72,0.83,...,0.0,0.0,NaN,1019.27,Clear,53.84,1520845200,10.00,303,1.69
3,12,3,37.542,-121.991,3,2018,53.10,0.00,48.80,0.85,...,0.0,0.0,NaN,1019.09,Clear,53.10,1520848800,10.00,321,1.54
4,12,4,37.542,-121.991,3,2018,52.28,0.15,48.85,0.88,...,0.0,0.0,NaN,1018.20,Clear,52.28,1520852400,9.88,103,1.13

In [24]:
t = dt(2018, 4, 2, 12).isoformat()
fre = forecast(*Fremont, t)
mydata = pd.DataFrame(fre['hourly']['data'])
mydata['LAT'] = 37.542
mydata['LON'] = -121.991
mydata['YEAR'] = 2018
mydata['MONTH'] = 4
mydata['DAY'] = 2
mydata['HOUR'] = [i for i in range(24)]
    
for i in range(3, 15):  
    t = dt(2018, 4, i, 12).isoformat()
    fre = forecast(*Fremont, t)
    tempdata = pd.DataFrame(fre['hourly']['data'])
    tempdata['LAT'] = 37.542
    tempdata['LON'] = -121.991
    tempdata['YEAR'] = 2018
    tempdata['MONTH'] = 4
    tempdata['DAY'] = i
    tempdata['HOUR'] = [i for i in range(24)]
    mydata = mydata.append(tempdata)
    
Apr_rain = mydata
Apr_rain.to_csv("Apr_rain.csv", sep=',')
Apr_rain.head()

,DAY,HOUR,LAT,LON,MONTH,YEAR,apparentTemperature,cloudCover,dewPoint,humidity,...,precipIntensity,precipProbability,precipType,pressure,summary,temperature,time,visibility,windBearing,windSpeed
0,2,0,37.542,-121.991,4,2018,55.43,0.08,47.94,0.76,...,0.0,0.0,NaN,1012.88,Clear,55.43,1522652400,10.00,227,3.11
1,2,1,37.542,-121.991,4,2018,54.45,0.08,48.12,0.79,...,0.0,0.0,NaN,1013.04,Clear,54.45,1522656000,10.00,247,2.35
2,2,2,37.542,-121.991,4,2018,54.04,0.04,48.13,0.80,...,0.0,0.0,NaN,1012.88,Clear,54.04,1522659600,9.78,245,2.52
3,2,3,37.542,-121.991,4,2018,53.33,0.04,48.27,0.83,...,0.0,0.0,NaN,1012.66,Clear,53.33,1522663200,9.88,235,2.33
4,2,4,37.542,-121.991,4,2018,52.88,0.04,48.12,0.84,...,0.0,0.0,NaN,1012.29,Clear,52.88,1522666800,9.78,202,3.42

In [25]:
Rain_week = pd.concat([Jan_rain, Feb_rain, Mar_rain, Apr_rain])
Rain_week.to_csv("Rain_week.csv", sep=',')
Rain_week.head()

,DAY,HOUR,LAT,LON,MONTH,YEAR,apparentTemperature,cloudCover,dewPoint,humidity,...,precipIntensity,precipProbability,precipType,pressure,summary,temperature,time,visibility,windBearing,windSpeed
0,1,0,37.542,-121.991,1,2018,50.19,0.00,45.83,0.85,...,0.0,0.0,NaN,1022.88,Clear,50.19,1514793600,6.58,85,1.74
1,1,1,37.542,-121.991,1,2018,50.01,0.24,45.78,0.85,...,0.0,0.0,NaN,1022.79,Clear,50.01,1514797200,6.60,96,2.15
2,1,2,37.542,-121.991,1,2018,48.87,0.14,45.31,0.87,...,0.0,0.0,NaN,1022.79,Clear,48.87,1514800800,6.05,111,2.31
3,1,3,37.542,-121.991,1,2018,47.56,0.05,44.80,0.90,...,0.0,0.0,NaN,1022.89,Clear,47.56,1514804400,6.00,246,1.25
4,1,4,37.542,-121.991,1,2018,46.36,0.16,44.25,0.92,...,0.0,0.0,NaN,1023.05,Clear,46.36,1514808000,4.55,134,0.82